
*.pyc
market/okex/okexdeep.txt
market/bitmex/bitmexdeep.txt
market/okexdeep.txt
market/bitmexdeep.txt
market/okex-bitmex.csv
market/okexw1/okexdeep.txt
market/okexw2/okexdeep.txt
market/okex1deep.txt
market/okex2deep.txt
